<%# TODO Falta meter hipervínculos con - %>
<% provide(:title, "Preguntas Frecuentes") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
        <h1>Preguntas frecuentes</h1>
      </center>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-6">
          <h2><a href="#¿Cuáles son las aplicaciones de la energía solar?">¿Cuáles son las aplicaciones de la energía solar?</a></h2>
          <p>Existen dos formas principales de utilizar la energía solar, una como fuente de calor para sistemas solares térmicos conocidos comúnmente como calentadores  solares y la otra como fuente de electricidad para sistemas fotovoltaicos, lo que conocemos como paneles solares.<br> Todo son ventajas en lo relacionado a las energías renovables, energías que se obtienen a partir de fuentes naturales y que son virtualmente inagotables, ya sea por la inmensa cantidad de energía que contienen, o porque son capaces de regenerarse por medios naturales.</p>
          <ul>
            <ol>Son amables con el medio ambiente, no contaminan y representan la alternativa de energía más limpia hasta el momento.</ol>
            <ol>Son fáciles de desmantelar y no requieren custodiar sus residuos durante millones de años, como ocurre por ejemplo con las energías nucleares.</ol>
            <ol>Hace que la región en donde se utilizan éste tipo de energías sea más autónoma ya que se crean plantas de generación eléctrica listas para abastecer a los usuarios de energía.</ol>
            <ol>Genera muchísimos puestos de trabajo, los que se prevén en un aumento aún mayor de aquí a unos años teniendo en cuenta su demanda e implementación.</ol>
            <ol>Son energías seguras ya que no contaminan, ni tampoco suponen un riesgo para la salud, y sus residuos además no crean ningún tipo de amenaza para nadie.</ol>
            <ol>Se trata de energías de fuentes que son inagotables, como el sol o el agua, y además sus distintos orígenes permiten su aplicación en todo tipo de escenarios.</ol>
          </ul>
        </div>
        <div class="col-md-6">
          <h2><a href="#¿Qué es un sistema fotovoltaico interconectado?">¿Qué es un sistema fotovoltaico interconectado?</a></h2>
          <p>El arreglo fotovoltaico (paneles) recolecta la energía del sol y por medio de un Inversor de corriente es convertida en corriente alterna  que podemos usar en nuestros aparatos eléctricos que usan éste tipo de corriente.Toda la energía recolectada es enviada a la red eléctrica de C.F.E. siendo esta contabilizada por medio de un Medidor Bidireccional (proporcionado por C.F.E.), la electricidad se  acumula en un Banco de Energía en donde nosotros podemos hacer uso de ella por los próximos 12 meses, por lo que nuestro sistema se compensará en días nublados y se regulara en días soleados logrando de ésta manera generara una facturación neta de sus consumos. Lo que produce Vs. Lo que consume arrojando un saldo a favor y un ahorro potencial de hasta un 95% de su factura original.</p>
          Ventajas:
          <ul>
            <ol>Inversión más baja al no requerir banco de baterías.</ol>
            <ol>Menor mantenimiento.</ol>
            <ol>No se necesita de espacio adicional.</ol>
            <ol>Se puede aplicar un subsidio por parte de CFE.</ol>
            <ol>En caso de exceder el total de producción de los paneles solares, se cuenta con el respaldo de la red de CF</ol>
          </ul>
          Desventajas:
          <ul>
            <ol>Depende de la red de CFE, si hay apagones nuestro suministro también se verá afectado. </ol>
            <ol>Disponible sólo para locaciones donde llega el suministro de CFE.</ol>
          </ul>
          <h1>FALTA EL DIAGRAMA</h1>
        </div>
      </div>
      <div clas="row">
        <div class="col-md-6">
          <h2><a href="#¿Qué es un Sistema Fotovoltaico Autónomo?">¿Qué es un Sistema Fotovoltaico Autónomo?</a></h2>
          <p>Los sistemas fotovoltaicos autónomos (SFA) se caracterizan por ser independientes de la red eléctrica. Dado que los paneles solares o módulos solares no almacenan energía en un SFA se debe conectar el arreglo fotovoltaico a un banco de baterías para que la energía almacenada en éste pueda ser usada durante la noche o en períodos nublados.<br> Los sistemas solares a base de baterías pueden funcionar de manera autónoma y autosuficiente si está bien diseñados y dimensionados. Las principales aplicaciones en México para los Sistemas Fotovoltaicos con Baterías son: electrificación de casas rurales en zonas apartadas, luminarias solares para alumbrado de parques o puentes, sistemas para repetidoras de microondas, radioases de telefonía celular, sistemas de telemetría o alumbrado de helipuertos en plataformas petroleras. <br> La consideración más importante en el diseño de este tipo de sistemas es que sea del tamaño adecuado para que la energía que consumen los aparatos sea la misma energía producida por el sistema fotovoltaico. Asimismo el banco de baterías debe  el adecuado tanto  para almacenar la energía suministrada por el arreglo fotovoltaico como para guardar una reserva que satisfaga las necesidades en periodos de baja insolación.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2><a href="#¿Qué beneficios fiscales puedo obtener al implementar un Sistema Fotovoltaico?">¿Qué beneficios fiscales puedo obtener al implementar un Sistema Fotovoltaico?</a></h2>
          <p>El artículo 276 del Código Fiscal del DF señala que los propietarios de viviendas que instalen y utilicen dispositivos como paneles solares y sistemas de captación de agua pluvial u otras tecnologías con lo que acrediten la disminución de por lo menos 20 por ciento en el consumo de energía o agua, podrán alcanzar un descuento de 20 por ciento en derechos por el suministro de agua. <br> Para ello, los propietarios deberán presentar una constancia de la Secretaría de  Medio Ambiente, en la que se precise el tipo de dispositivo con que cuentan y los  beneficios que representan. <br> Del mismo modo, el artículo 277 hace referencia a las empresas o instituciones que cuenten con programas que busquen mejorar las condiciones ambientales mediante equipos anticontaminantes, las cuales podrán gozar de un descuento de hasta 50 por ciento en el impuesto sobre nómina y 25 por ciento en el impuesto predial. <br>Sin embargo, las deducciones en el pago del predial dependerán de la reducción en la emisión de contaminantes por parte de los interesados. <br>Los beneficios van ligados a la norma ambiental del DF, NADF-008-AMBT-2005, la cual hace obligatorio el uso de calentadores solares en todas las albercas nuevas y en establecimientos con más de 51 empleados que utilicen agua caliente.</p>
        </div>
        <div class="col-md-6">
          <h2><a href="#¿Qué otros beneficios puedo obtener?">¿Qué otros beneficios puedo obtener?</a></h2>
          <p>A nivel federal, la Ley del Impuesto Sobre la Renta (ISR) estipula que los contribuyentes que inviertan en equipo para la generación de energías renovables pueden ser deducidos en 100 por ciento. <br> Además, contempla la reducción en aranceles de equipo para aprovechamiento de fuentes de energía renovable, créditos a través de Nafin y el FIDE. Además, la energía generada y no consumida por los usuarios puede ser acumulada por CFE y entregada en otros periodos.</p>
        </div>
        <div class="col-md-6">
          <h2><a href="#¿Implementar un Sistema FV afectará la instalación eléctrica de mi casa?">¿Implementar un Sistema FV afectará la instalación eléctrica de mi casa?</a></h2>
          <p>No, la instalación del Sistema se hace por separado de la instalación eléctrica de su casa. Si se va el suministro de la red ¿mi sistema me mantendrá con energía eléctrica? Al ser un Sistema interconectado a la red de CFE, si el suministro de la misma se detiene su casa se verá afectada.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2><a href="#¿Es peligroso tener un Sistema FV instalado?">¿Es peligroso tener un Sistema FV instalado?</a></h2>
          <p>De ninguna manera, es sumamente seguro contar un sistema FV instalado, ya que no afecta la instalación eléctrica que se cuenta.</p>
        </div>
        <div class="col-md-6">
          <h2><a href="#¿México es un buen lugar para tener un sistema fotovoltaico?">¿México es un buen lugar para tener un sistema fotovoltaico?</a></h2>
          <p>México es un país con un excelente recurso solar. La irradiación diaria (promedio anual) sobre una superficie horizontal es superior a 4.4kWh/m2 por día, en todo el territorio nacional y en algunos sitios es superior a 6 kWh/m2 por día la explotación de la tecnología fotovoltaica en México brinda condiciones favorables para contribuir en forma importante a los requerimientos energéticos del país y su utilización puede resultar más rentable en comparación con muchos otros países.</p>
        </div>
        <div class="col-md-6">
          <h2><a href="#¿Qué pasa si el día esta nublado?">¿Qué pasa si el día esta nublado?</a></h2>
          <p>Los sistemas fotovoltaicos funcionan con radiación producida por el sol, si bien es cierto que su capacidad de producción máxima se obtiene cuando los fotones quedan atrapados en los dispositivos pueden captar la radiación no luminosa producción oscila entre el 40 % de su capacidad total.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</div>
