<div class="container">
  <div class="row">
  <!-- Porque Solus -->
    <div class="col-md-4">
      <h1 class="text_color">¿Por qué Solus?</h1>
    </div>
    <!-- Explicacion solus -->
    <div class="col-md-4">
      <p>Somos una empresa comprometida con la satisfacción de nuestros clientes y con el medio ambiente. Creemos firmemente que un estilo de vida sustentable es parte fundamental para mejorar nuestro entorno social y ambiental.</p>
    </div>
    <!-- Texto grande -->
    <div class="col-md-4">
      <h2>Aqui va un texto grande</h2>
    </div>
  </div>
  <div class="row">
  <!-- explicacion accesible -->
    <div class="col-md-4">
      <p>
        Obtén tu Sistema de Paneles Solares en 5 sencillos pasos:
        <ol>
          <li>Pide tu cotización sin costo alguno.</li>
          <li>Agenda tu visita de sitio (sin costo en la ciudad de México).</li>
          <li>Firma de contrato.</li>
          <li>Agenda la instalación el día que mejor te convenga.</li>
          <li>Disfruta de los beneficios de la energía solar y ayuda al medio ambiente.</li>
        </ol>
      </p>
    </div>
    <!-- Texto grande -->
    <div class="col-md-4">
      <h2>Retornos de inversión menores a 5 años</h2>
    </div>
    <!-- Accesible -->
    <div class="col-md-4">
      <h1 class="text_color">Accesible</h1>
    </div>
  </div>
  <div class="row">
    <!-- Medio ambiente -->
    <div class="col-md-4">
      <h1 class="text_color">Medio ambiente</h1>
    </div>
    <!-- explicacion medio ambiente -->
    <div class="col-md-4">
      <p>Neque dicta enim quasi. Qui corrupti est quisquam. Facere animi quod aut. Qui nulla consequuntur consectetur sapiente. Neque aut et nemo aut incidunt voluptates. Dolore cum est sint est. Vitae assumenda porro odio dolores fugiat. Est voluptatum quia rerum.</p>
    </div>
    <!-- Texto grande -->
    <div class="col-md-4">
      <h2>Aqui va un texto grande</h2>
    </div>
  </div>
</div>
<!-- Cinturon -->
<%# TODO hace falta cambiar los logos por una foto de la seccion a la que corresponden %>
<%# TODO hace falta poner un href a las fotos para que nos lleven a la seccion que corresponden %>
<div class="container">
  <div class="row">
    <!-- Panel -->
    <div class="col-md-4">
      <%= image_tag("logo.jpg", class: "img-center img-responsive") %>
    </div>
    <!-- Calentador -->
    <div class="col-md-4">
      <%= image_tag("logo.jpg", class: "img-center img-responsive") %>
    </div>
    <!-- Luminaria -->
    <div class="col-md-4">
      <%= image_tag("logo.jpg", class: "img-center img-responsive") %>
    </div>
  </div>
</div>
