<% provide(:title, "Contacto") %>
<div class="container">
  <div class="row">
    <h1>Déjanos tus datos y nos pondremos en contacto contigo</h1>
    <div class="col-md-7">
      <%= render 'contacts/form' %>
    </div>
    <div class="col-md-5">
      <br><br><br><br><br>
      <%= image_tag("Direccion.png") %>
      <br>
      <p>Dirección: Calais 36, colonia Villa Verdún, CP: 01810 <br>
      Delegación: Álvaro Obregón, México DF</p>
    </div>
  </div>
</div>
