/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
// @import "compass/css3/images";

/* Variables */

$green: #78b65b;

/* wrap */

.container {
  width: 100%;
}

#wrap.boxed {
  /*width:990px;*/
  width: 80%;
  min-height: 600px;
  margin:25px auto;
  margin-top: 0px;
  background: white;
  -webkit-box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, 0);
  box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, 0);
}

/* text properties */

.text_color {
  color: $green;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: helvetica;
}

/* images */

.front-image {
  margin-top: 100px;
}

/* Header */

.header {
  position: fixed;
  z-index:100;
  width: 80%;
  @include gradient-vertical(white, #eff1f2);
}

.navigation ul {
  z-index:100;
  padding: 0;
  list-style-type: none;
}

/*Top level list items*/

.navigation ul li {
  position: relative;
  display: inline !important;
  float: right;
  margin-left:4px;
  padding-left: 20px;
}

/*Top level menu link items style*/

.navigation ul li a {
  display: block;
  padding: 40px 15px 40px 15px;
}

a.header_link:hover {
  color: $green;
  text-decoration: none;
}

a.header_link:focus {
  color: $green;
  text-decoration: none;
}

h4 a {
  color: black;
}

body {
  background-color: $green;
}
